<div class="padding-left">
    <h1>
  Welcome, {{user}}!
</h1>
    <h4>
  Check out your map of Denver to see
  <img class="wantVisit" src="http://www.clker.com/cliparts/T/Q/m/G/0/o/green-marker-black-border-hi.png">
  Places You Want to Visit and

  <img class="iVisit" src="http://www.girardonline.com/wp-content/uploads/2015/02/google-maps-marker-for-residencelamontagne-hi.png"> Places You Have Visited.
</h4>
    <h5> Is your map blank? Add new places from "Search Denver" or add custom places from "Places I Want to Visit"</h5>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-2 col-xs-12">
                <div id="map">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="recommendation">
    <h2>Recommended Places in Denver</h2>
    <div>
        {{#each places}}
            <div>
                <img class="recommendedImage" src="{{this.image_url}}" />
                <p>{{this.name}}</p>
                <p class="hidden">{{this.id}}</p>
                <button class="btn btn-default addToDoRec" type="button" name="button">Add To Do</button>
                <button class="btn btn-default addDoneRec" type="button" name="button">Add Done</button>
                {{#if message}}
                    {{message}}
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="../javascripts/googleSearch.js"></script>
<script src="../javascripts/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBzg50_Ei3s8Y6QWVBTzTz3imX-eVqGw8&callback=initMap&libraries=places" async defer></script>
