<div>
  <h3>{{post.name}}<h3>
  <img src="{{post.image_url}}">
  <p>{{post.description}}</p>


<h1>Comments</h1>
<div class="container-fluid">
  <div class="location">
    <div class="row">
      {{#if comment}}
      {{#each comment}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img class="personalImage" src="{{this.image_url}}" alt="...">
          <div class="caption">
              <div>
                <p>{{this.comment_body}}</p>
                <p>{{this.username}}</p>
              </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{/if}}
      {{else}}
      <p>{{add}}</p>
    </div>
  </div>
</div>
</div>

<!-- <div>
<h3>{{post.name}}<h3>
<img src="{{post.image_url}}">
<p>{{post.description}}</p>
  Comments:
</div>
  {{#each comment}}
    <p>{{this.clientId}}</p>
    <p>{{this.username}}</p>
    <p>{{this.comment_body}}</p>
    <p>{{this.commentId}}</p>
  {{/each}}
</div>
</div> -->
