<div class="layout">
  <div class="container-fluid">
      <div class="location">
          <div class="row">
              <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                      <img class="personalImage" src="{{post.image_url}}" alt="...">
                      <div class="caption">
                          <h3>{{post.name}}</h3>
                          <p>{{post.description}}</p>
                          <button class="btn btn-default edit" type="button">
                              View Comments
                          </button>
                          <div class="row">
                              <div class="col-md-12 col-xs-12">
                                  <div class="hidden_form">
                                      {{#each comment}}
                                            <div class="comment">
                                              <p>value="{{this.comment_body}}"</p>
                                              <p>{{this.username}}">
                                            </div>
                                      {{/each}}
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
