{{#each places}}
<div class="">
  <p>
    {{this.name}}
  </p>
  <img src="{{this.image_url}}" alt="image" />
</div>
<button type="button">Edit This Post</button>
<div class="hidden">
  <form action="/clients/havedone" method="post">
    <input type="number" name="id" value="{{this.id}}">
    <input type="text" name="name" value="{{this.name}}" placeholder="{{this.name}}">
    <input type="float" name="lat" value="{{this.lat}}" placeholder="{{this.lat}}">
    <input type="float" name="lng" value="{{this.lng}}" placeholder="{{this.lng}}">
    <textarea name="description" rows=5>{{this.description}}</textarea>
    <input type="url" name="image_url" value="{{this.image_url}}" placeholder="{{this.image_url}}">
    <input type="number" name="category_id" value="{{this.category_id}}">
    <input type="text" name="user_created" value="{{this.user_created}}">
    <button type="submit">Submit</button>
  </form>
</div>
{{/each}}

<a href="../clients"><button type="button">Home</button></a>
<a href="todo"><button type="button">Things I todo</button></a>
<a href="search"><button type="button">Search for things to do</button></a>
